<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>vue.js</title>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css"
      integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="./src/style.css" />
  </head>
  <body>
    <div id="app">
      <h1 class="mb-4">todos de lipe</h1>

      <input
        type="text"
        v-model="todoName"
        id="todo-input"
        class="form-control"
      />

      <button
        type="button"
        class="btn btn-primary mt-4 mb-4"
        v-on:click="addTodo(todoName)"
      >
        Novo todo
      </button>

      <ul class="list-group">
        <li
          v-for="todo in todos"
          class="list-group-item todo-item"
          v-on:change="verifyTasks()"
        >
          <span>
            <input type="checkbox" class="form-check-input" v-model="todo.done" />
            {{todo.task}}
          </span>
          
          <img src="./src/assets/trashcan.svg" v-on:click="removeTodo(todo)" class="remove-todo"></img>
        </li>
      </ul>

      <p class="mt-4">{{todoMessage}}</p>
    </div>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.min.js"
      integrity="sha384-ODmDIVzN+pFdexxHEHFBQH3/9/vQ9uori45z4JjnFsRydbmQbmL5t1tQ0culUzyK"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
      crossorigin="anonymous"
    ></script>
    <script src="./src/index.js"></script>
  </body>
</html>
